.About-header {
  background-color: #090909;
}

.About-main {
  min-height: 95vh;
}

.d1 {
  height: 100%;
  width: 100%;
}

.d2 {
  height: 100%;
  width: 100%;
}

.d3 {
  height: 100%;
  width: 100%;
}

.About-footer {
  min-height: 5vh;
}

.row {
  display: flex;
  align-items: center;
  margin-right: 0;
}

#root
  > div
  > div
  > div.About-main.row
  > div.row
  > div.col-xl-5
  > div
  > div
  > div
  > img {
  min-height: 50vw;
}

#root > div > div > div.About-main.row > div.row > div.col-xl-7 > div > div {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root
  > div
  > div
  > div.About-main.row
  > div.row
  > div.col-xl-7
  > div
  > div
  > div
  > div
  > a
  > p {
  margin-left: 1rem;
}
